<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-2" src="/assets/bouille.png" alt="" width="92">
    <h1 class="display-5 fw-bold text-body-emphasis">Mon application messagerie</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Bienvenue sur mon application messagerie qu'elle est belle ! Vous pouvez utiliser cette application messagerie en cliquant sur le bouton ci-dessous.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="toMessagerie()">Accéder à l'application</button>
      </div>
    </div>
  </div>